@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

#text-container {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    position:sticky;
}

.blinking-cursor {
    border-right: 2px solid #000;
    animation: blinking-cursor 0.5s step-end infinite alternate;
}

@keyframes blinking-cursor {
    to {
        border-right-color: transparent;
    }
}
